
#navHead, footer {
    background-color: #ff8000;
}

#coeur {
    background-color: black;
}


#footer-list{
    color: black;
    text-align: center;
    font-size: 0.8em;
}

footer a:link, footer a:visited{
    color: black;
}







