* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Volkhov', serif;
    font-size: 20px;
}

.margeS {
    padding-bottom: 2em;
}

#navHead, footer {
    background-color: #b40000;
}

#coeur {
    background-color: black;
}

.titre {
    color: red;
    padding: 0.5em;
}

.formulaire {
    margin-top: 2em;

}

.btn-group button {
    background-color: black;
}

.socialNav {
    margin-top: 1.5em;
}

.social {
    padding: 5px;
    font-size: 1.9em;
    border-radius: 10px;
    background-size: cover;
    background-color: red;
}

.navL{
    padding: 5px;
    border-radius: 10px;
}

.logo {
    height: 100px;
    width: 100px;
    padding: 0.5em;
}

#footer-list {
    color: black;
    text-align: center;
    font-size: 0.6em;
    padding: 0.5em;
}

footer a:link,
footer a:visited {
    color: black;
}

#v-pills-tabContent img {
    width: 100%;
    height: auto;
}

.inline {
    display: inline;
}

button.btn-dark {
    height: 100%;
    width: 100%;
}

.maxWidth {
    width: 100%;
}

.block {
    display: block;
}

.padding-B-T-1em {
    padding-top: 1em;
    padding-bottom: 1em;
}

.border-B-T-1em {
    border-top: 1em;
    border-bottom: 1em;
}

.marginR {
    border: 1px solid black;
}

.center {
    text-align: center;
}

.fontWhite {
    color: white;
}

.fontWhiteHover:hover {
    color: white;
}

.fontBlack {
    color: black;
}

.fontRed {
    color: red;
}

.border1SB {
    border: 1px solid black;
}

.redBorder {
    border: 1px solid red;
}

.maxHeight {
    height: 100%;
}

.pushToCenter {
    position: relative;
    top: 1em;
    margin-right: auto;
    margin-left: auto;
}

.bg-black {
    background-color: black;
}

.fixingTo100Vh{
    height: 100%;
}

.fixingButtons{
   padding-bottom: 6em;
    
}

.padding-bot-1em{
    padding-bottom: 1em;
}